.mytable td, .mytable th {
    margin: 0  !important;
    border: 1px solid !important;
    padding: 1px !important;
    font-size: 11px  !important;
}

.mytable {
    border-collapse:separate !important;
    border:solid black 1px !important;
    border-radius:5px !important;
}


.mytable th {
    color: white !important;
    background-color: #1a1a1a !important;
    border-top: none !important;
}

/*
tr:nth-child(even) {background: #CCC}
tr:nth-child(even) {background: #CCC}
*/

.mytable tr:nth-child(even) td:nth-last-child(n)
{
    background-color: #e6e6e6 !important;
}
.mytable tr:nth-child(odd) td:nth-last-child(n)
{
    background-color: #FFF !important;
}
/*
tr:nth-child(even) td:nth-last-child(1)
{
    background-color: orange;
}
tr:nth-child(odd) td:nth-last-child(1)
{
    background-color: purple;
}

tr:nth-child(even) td:nth-last-child(n)
{
    background-color: red;
}
tr:nth-child(odd) td:nth-last-child(n)
{
    background-color: blue;
}

tr:nth-child(even) td:nth-last-child(n)
{
    background-color: grey;
}
tr:nth-child(odd) td:nth-last-child(n)
{
    background-color: brown;
}*/

/*
tr:nth-child(even) td:nth-last-child(5)
{
    background-color: grey;
}
tr:nth-child(odd) td:nth-last-child(5)
{
    background-color: brown;
}*/

